html, body {
    font-family: arial, sans-serif;
}

table {
    border-collapse: collapse;
}

th {
    width: 100px;
    text-align: right;
}

th, td {
    padding: 5px;
}

p.tip {
    margin: 0;
    font-size: 12px;
    color: #777;
}

#log.error {
    color: red;
}

#log.debug {
    color: black;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1024px;
    margin: 0 auto;
}

.container > section {
    width: 500px;
    overflow: hidden;
    overflow-x: auto;
}
