.action-row {
    margin: 20px 0;
}

.img-wraper {
    margin-bottom: 30px;
}

.preview {
    max-width: 90%;
    max-height: 40%;
}

td {
    word-break: break-all;
}

.uploading .btn {
    display: none;
}