th {
  width: 100px;
  text-align: right;
}
tr.hard {
  display: none;
}
tr.easy {
  display: none;
}
input {
  width: 300px;
  line-height: 22p;x
  height: 22px;
}
input[type=radio] {
  width: auto;
}
progress {
  width: 300px;
}
input[disabled] {
  background-color: #c0c0c0;
}
.warning {
  text-align: center;
  padding: 5px;
  background: yellow;
  display: none;
}
legend {
  font-family: monospace;
  font-size: 14px;
}
.collapse, .expand {
  cursor: pointer;
}

#dropzone {
  border: 3px dashed #000;
  padding: 15px 5px;
}
#dropzone video {
  display: block;
}

/** file browser */
.file-list {
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
.file-list thead {
  background-color: #f6f8f8;
  border-radius: 2px 2px 0 0;
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
}

.file-list thead th {
  padding: 8px 15px;
  text-align: left;
}
.file-list tr .fa {
  display: none;
}
.file-list tr:hover .fa {
  display: inline-block;
}
.file-list td {
  padding: 8px 15px;
  border-top: 1px solid #eaeff0;
}
.file-list .no-content,
.file-list .load-more {
  text-align: center;
}

.panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.fa {
  cursor: pointer;
}
.fa:hover {
  font-weight: bold;
}
