header {
  text-align: right;
}

th {
  width: 100px;
  text-align: right;
}
tr.hard {
  display: none;
}
tr.easy {
  display: none;
}
input {
  width: 300px;
  line-height: 22p;x
  height: 22px;
}
input[type=radio] {
  width: auto;
}
progress {
  width: 300px;
}
input[disabled] {
  background-color: #c0c0c0;
}
.warning {
  text-align: center;
  padding: 5px;
  background: yellow;
  display: none;
}
legend {
  font-family: monospace;
  font-size: 14px;
}
.collapse, .expand {
  cursor: pointer;
}

.container {
  margin-bottom: 10px;
}

.hide {
  display: none;
}

.crumb {
  padding: 8px 15px;
  box-shadow: 1px 1px 3px 1px #e5e8e3;
}

#dropzone {
  position: relative;
  border: 1px solid #ddd;
}
#dropzone .overlay {
  /*display: none;*/
  font-weight: bold;
  border: 2px dashed #333;
  display: -webkit-flex;
  display: flex;
  -webkit-align-content: center;
  align-content: center;
  -webkit-align-items: center;
  align-items: center;

  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(255, 255, 255, .5);
}
#dropzone .msg {
  width: 100%;
  text-align: center;
}


/** file browser */
.file-list {
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
.file-list thead {
  background-color: #f6f8f8;
  border-radius: 2px 2px 0 0;
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
}

.file-list thead th {
  padding: 8px 15px;
  text-align: left;
}
/*
.file-list tr .fa {
  display: none;
}
.file-list tr:hover .fa {
  display: inline-block;
}*/
.file-list td {
  padding: 8px 15px;
  border-top: 1px solid #eaeff0;
}
.file-list .no-content,
.file-list .load-more {
  text-align: center;
}

.panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.fa {
  cursor: pointer;
}
.fa:hover {
  font-weight: bold;
}

footer p {
  text-align: center;
}
footer p span {
  background: url(./img/fi.ico) left center no-repeat;
  padding-left: 20px;
}
